* text=auto eol=lf

*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.sql text eol=lf
*.json text eol=lf
*.mjs text eol=lf
*.webmanifest text eol=lf
*.md text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
*.avif binary
*.xlsx binary
